section.section-case-study{
	
	.case_study.card{
		@extend .col-md-6;
		text-align:left;
		img{
			height: 40em;
			object-fit: cover;
			width:100%;
		}
		hgroup{
			h1{
				text-transform: none;
			}
		}
	}
	.case_study.card:nth-child(4n){
		@extend .col-md-12;
	}
}