.banner {
	background:$blue;
	width:100%;
	z-index: 999;

		.navbar-nav {
		    display: inline-block;
		    float: none;
		    max-width: 70%;
		}
		.navbar-collapse {
	    text-align: center;
		}
		.menu-item {
			position:relative;
			&:after {
				content: "";
			    width: 2px;
			    height: 45%;
			    position: absolute;
			    top: 1.25em;
			    right: 0px;
			    background: #fff;
			}
			
			a {
				@extend .menu-a;
			}
		}
	.navbar-brand {
		float: left;
	    font-size: 18px;
	    height: 55px;
	    position: absolute;
	    overflow: hidden;
	    left: 0px;
	    padding:0px;
	}

}