.card.overlay {
	background-size:cover;
	h1 {
		font-size:3em;
		text-transform: uppercase;
		margin: 0;
		padding: 0;
	}
	small {
		font-size:1.5em;
		color:$orange;
	}
	.overlay {
		padding:1.5em;
		margin-top:20em;
		background:rgba($black,0.8); 
	}
	padding-top:1em;
}