.card {
	h1 {
		margin-top: 0px;
	}
	h6 {
		color:$orange;
		font-weight:100;
		text-transform: uppercase; 
		margin-bottom: 0px;

	}
	&.style1{
		@extend .people-category;
	}
	
	&.style2{
		hgroup{
			h1{
				
			}	
			h6{
				
			}
		}
		p{
			width: 70%
		}
		img.inner{
			float:right;
			margin-right: 5%;
		}
	}
	&.style3{
		@extend .side-card;
		position: relative;
		a{
			position: absolute;
	    bottom: -97px;
	    left: 0;
	    right: 0;
		}
	}
}