// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

/*==============================
=            Colors            =
==============================*/
$color1: #1d3160;
$color2: #f37223;
$color3: #333f48;
$color4: #e6e6e6;
$color5: #c1c6c8;

$orange: $color2;
$blue: $color1;
$white: #fff;
$black: #000;

$grey-light: $color4;
$grey:		$color5;
$grey-dark: $color3;

$text: $grey-dark;
$brand-primary:$orange;

/*============================
=            Font            =
============================*/
$font-family:'Ubuntu', sans-serif;




