// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

/*==============================
=            Colors            =
==============================*/
$orange: #F37122;
$blue: #1D3160;
$white: #fff;
$black: #000;

$grey-light: #E6E6E6;
$grey:		#C1C5C7;
$grey-dark: #333E47;

$text: $grey-dark;
$brand-primary:$orange;

/*============================
=            Font            =
============================*/
$font-family:'Ubuntu', sans-serif;




